@import 'tailwindcss';

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}